* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./SCSS/mint";
@import "./SCSS/wallet";
@import "./SCSS/punk";
@import "./SCSS/container";
@import "./SCSS/header";
@import "./SCSS/_main.scss";
@import "./SCSS/footer";
@import "./SCSS/body";
@import "./SCSS/fonts";
