@font-face {
  font-family: "Mandinor";
  src: url("../assets/fonts/Mandinor\ Italian\ FY\ Regular.woff");
  src: url("../assets/fonts/Mandinor\ Italian\ FY\ Regular.woff2");
  src: url("../assets/fonts/Mandinor.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff");
  src: url("../assets/fonts/Inter-Regular.woff2");
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: "Korona One";
  src: url("../assets/fonts/krona-one-v9-latin-regular.woff");
  src: url("../assets/fonts/krona-one-v9-latin-regular.woff2");
  src: url("../assets/fonts/KronaOne-Regular.ttf");
}
